@import 'sidebar';
@import 'styles';

$grey: #7e8694;
$warning: #66fcf1;
$link: #45a29e;
$info: #1f2833;
$dark: #318884;
$danger: #c00b0b;
$success: #eede4d;
$light: rgb(47, 58, 71);

@import '../../node_modules/bulma/bulma.sass';

.dropdown {
    display: contents;
}

.has-pointer {
    cursor: pointer;
}

.hoverEffect {
    font-size: medium;
    transition: font-size 0.25s;
    &:hover {
        font-size: large;
    }
}

.landing {
    background-image: url(../images/pic01.jpg);
}
